<h3 class="app-heading"><i class="fa fa-info"></i> Details client</h3>
<div class="app-item-info">
    <p class="app-item-info__content"><span class="app-item-info__title">Name:</span> <%= first_name %> <%= last_name %></p>
    <p class="app-item-info__content"><span class="app-item-info__title">Birthdate:</span> <%= birthdate %></p>
    <p class="app-item-info__content"><span class="app-item-info__title">ID number:</span> <%= idc_number %></p>
    <p class="app-item-info__content"><span class="app-item-info__title">Address:</span> <%= address %></p>
    <p class="app-item-info__content"><span class="app-item-info__title">Zip code:</span> <%= zip_code %></p>
    <p class="app-item-info__content"><span class="app-item-info__title">City: </span> <%= city %></p>

    <button type="button" class="btn edit">Edit</button>
</div>