    // *--------- GENERAL ---------*
    $black: #000000;
    $white: #ffffff;
    $generalBgColor: $white;
    $generalDimmedBgColor: #e6e6e6;
    $generalSpecialColor: #5BCAE2;
    $generalBorderColor: #c8c8c8;
    $generalTextColor: $black;
    $generalSpecialTextColor: $white;

    // *--------- NAV ---------*
    $navColor: $black;
    $navActiveColor: $white;

    // *--------- TABS ---------*
    $tabsBorderColor: #d3d7da;
    $tabsBgColor: #f8f8f8;

    // *--------- MAIN PANEL ---------*
    $mainBgColor: #fff;
    $mainCounterColor: #fff;

    // *--------- FORMS ---------*
    $formInputTextColor: #9b9b9b;

    // *--------- FONT ---------*
    $fontHeader: 'Orbitron', sans-serif;
    $fontContent: 'Open Sans', sans-serif;